
header {
    display: flex;
    margin-top: 10px;
    text-transform: capitalize;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
}
.desktop {
    margin: 10px;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.navigation {
    border: 2px dashed rgb(32, 166, 32);
    padding: 5px 10px;
    border-radius: 5px;
    height: min-content;
    transform: scale(1);
    transition: transform 0.4s, box-shadow 0.4s;
}

.navigation:hover {
    transform: scale(1.04);
    transition: .4s;
    cursor: pointer;
    /* background-color: rgb(53, 190, 209); */
    box-shadow: 10px 10px 2px 0 cyan;

}

main {}

#open,
#close,
#dark,
#light {
    display: none;
}

.nav_hr {
    width: 80%;
    align-self: center;
    height: 2px;
    background-color: var(--dark-accent-color1);
    outline: none;
    border-radius: 50%;
}