:root {
    /* Dark Color Palette */
    --dark-background-color: #162936;
    /* Dark Cyan background */
    --dark-text-color: #F8F8F8;
    /* Light Gray text */
    --dark-accent-color1: #8FD6E8;
    /* Pastel Blue accent */
    --dark-accent-color2: #D4FF9D;
    /* Pastel Green accent */

    /* Light Color Palette */
    --light-background-color: whitesmoke;
    /* Background for light theme */
    --light-text-color: #162936;
    /* Text for light theme */
    --light-accent-color1: #8FD6E8;
    /* Accent 1 for light theme */
    --light-accent-color2: #D4FF9D;
    /* Accent 2 for light theme */

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.light-mode {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
}

.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}
body{
    margin: auto;
    max-width: 1024px;
}