.slider_container {
    width: 90vw;
    height: 300px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    max-width: 1024px;
    

}

.slide {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    max-width: 1024px;
}

.left,
.right {
    z-index: 999;
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    top: 50%;
}

.right {
    right: 0;
    transform: translateY(-50%);
}

.left {
    left: 0;
    transform: translateY(-50%);
}